@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F1E3;
  --foreground: #1C1A17;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
